<ul id="nav-mobile" class="side-nav fixed" style="width:240px;">
  <li class="logo">
    <%= image_tag "https://jawbone.com/#{@user["data"]["image"]}" %>
  </li>
  <li>
<%= link_to "Connect With Jawbone", "/auth/jawbone" %>
  </li>
</ul>

<main style="min-height:100%;width:100%;padding-left:100px;">
  <div class="container">
    <h1>Steps</h1>
    <canvas id="canvas" width="750px" height="200"></canvas>
    <script>


      jQuery(function() {

        var data, myNewChart;
        data = {
          labels: <%= raw @moves.map{|day| Date.parse("#{day["date"]}").strftime("%a %d %b") }.as_json %>,
          datasets: [
            {
              fillColor: "rgba(102,177,50,0.5)",
              strokeColor: "rgba(102,177,50,1)",
              pointColor: "rgba(102,177,50,1)",
              pointStrokeColor: "#fff",
              data: <%= raw @moves.map{|day| day["details"]["steps"] } %>
            },
            {
              fillColor: "rgba(102,177,50,0.2)",
              strokeColor: "rgba(102,177,50,0.3)",
              pointColor: "rgba(102,177,50,0.3)",
              pointStrokeColor: "#fff",
              data: <%= raw @moves.map{|day| 10000 } %>
            }

          ]
        };
        return myNewChart = new Chart($("#canvas").get(0).getContext("2d")).Line(data, {
            scaleBeginAtZero: true,
            scaleShowGridLines : false,
        });
      });
    </script>


    <h1>Calories</h1>
    <canvas id="calories" width="750px" height="200"></canvas>
    <script>


      jQuery(function() {

        var data, myNewChart;
        data = {
          labels: <%= raw @meal_dates.reverse.map{|day| Date.parse("#{day}").strftime("%a %d %b") }.as_json %>,
          datasets: [
            {
              fillColor: "rgba(255,0,0,0.5)",
              strokeColor: "rgba(255,0,0,1)",
              pointColor: "rgba(255,0,0,1)",
              pointStrokeColor: "#fff",
              data: <%= raw @meal_calories.reverse.as_json  %>
            },
            {
              fillColor: "rgba(255,0,0,0.2)",
              strokeColor: "rgba(255,0,0,0.3)",
              pointColor: "rgba(255,0,0,0.3)",
              pointStrokeColor: "#fff",
              data: <%= raw @meal_dates.map{|day| @calories_burnt[day] -100 + 1510 } %>
            }

          ]
        };
        return myNewChart = new Chart($("#calories").get(0).getContext("2d")).Line(data, {
            scaleBeginAtZero: true,
            scaleShowGridLines : false,
        });
      });
    </script>

  </div>
</main>

